[submodule "editorconfig-vim"]
    path = .vim/bundle/editorconfig-vim
    url = https://github.com/editorconfig/editorconfig-vim

[submodule "indentLine"]
    path = .vim/bundle/indentLine
    url = https://github.com/Yggdroot/indentLine

[submodule "vim-buftabline"]
    path = .vim/bundle/vim-buftabline
    url = https://github.com/ap/vim-buftabline

[submodule "vim-tabular"]
    path = .vim/bundle/tabular
    url = https://github.com/godlygeek/tabular

[submodule "vim-syntastic"]
    path = .vim/bundle/vim-syntastic
    url = https://github.com/vim-syntastic/syntastic

[submodule "vim-javascript"]
    path = .vim/bundle/vim-jsx
    url = https://github.com/mxw/vim-jsx

[submodule "vim-jsx"]
    path = .vim/bundle/vim-javascript
    url = https://github.com/pangloss/vim-javascript

[submodule "ctrlp-py-matcher"]
  path = .vim/bundle/ctrlp-py-matcher
  url = https://github.com/FelikZ/ctrlp-py-matcher

[submodule ".vim/bundle/vim-snippets"]
  path = .vim/bundle/vim-snippets
  url = https://github.com/honza/vim-snippets

[submodule ".vim/bundle/ultisnips"]
  path = .vim/bundle/ultisnips
  url = https://github.com/SirVer/ultisnips

[submodule ".vim/bundle/emmet-vim"]
  path = .vim/bundle/emmet-vim
  url = https://github.com/mattn/emmet-vim

[submodule ".vim/bundle/ctrlp.vim"]
  path = .vim/bundle/ctrlp.vim
  url = https://github.com/kien/ctrlp.vim

[submodule ".vim/bundle/VimCompleteLikeAModernEditor"]
  path = .vim/bundle/VimCompleteLikeAModernEditor
  url = https://github.com/jordwalke/VimCompleteLikeAModernEditor

[submodule ".vim/bundle/neocomplete.vim"]
  path = .vim/bundle/neocomplete.vim
  url = https://github.com/Shougo/neocomplete.vim

[submodule ".vim/bundle/vim-closetag"]
  path = .vim/bundle/vim-closetag
  url = https://github.com/alvan/vim-closetag

[submodule ".vim/bundle/vim-endwise"]
  path = .vim/bundle/vim-endwise
  url = https://github.com/tpope/vim-endwise

[submodule ".vim/bundle/nerdcommenter"]
  path = .vim/bundle/nerdcommenter
  url = https://github.com/scrooloose/nerdcommenter

[submodule ".vim/bundle/vim-autoclose"]
  path = .vim/bundle/vim-autoclose
  url = https://github.com/Townk/vim-autoclose
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-tags"]
	path = .vim/bundle/vim-tags
	url = https://github.com/szw/vim-tags
