[user]
  email = koomen@protonmail.com
  name = Kim K
[alias]
  pom = push origin master
  pod = push origin develop
  d = diff
  ds = diff --stat=160,120
  aa = add --all
  st = status
  b = branch
  c = checkout
  l = log --graph --pretty=format:'%Cred%h%Creset %Cblue<%ae>%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[push]
  default = simple
